{
    "port": 4000,
    "sentry": {
        "enabled": false,
        "dsn": ""
    },
    "mysql": {
        "host": "mysql",
        "port": 3306,
        "user": "username",
        "password": "password",
        "database": "database"
    },
    "profiling": {
        "enabled": true,
        "port": 6060
    },
    "web": {
        "publicRoot": "http://localhost:9000/"
    }
}