{
    "port": 4000,
    "hashSalt": "place-a-sufficiently-random-string-here",
    "database": {
        "driver": "sqlite",
        "path": "etc/golem.sqlite3"
    },
    "profiling": {
        "enabled": true,
        "port": 6060
    },
    "web": {
        "publicRoot": "http://localhost:9000/"
    }
}
